// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 div.orbit-wrapper {
      width: 1000px !important;
      height: 500px !important;
      position: center;
    }

   .testimg{
   	padding-bottom:5px;
   }