<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-12 columns" role="content">

    <article>

      <h3>Our Mission</h3>


      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative is a nonprofit organization that strives to galvanize recreational and competitive video game players, as well as the gaming industry, to raise money for local causes. We work to beneficially impact the community while maintaining a positive image of the industry and its consumers.</p>

          <p>The current goal of ESI is to empower local Columbus-area students to study STEM (science, technology, engineering, and math)-related fields, and to enrich the educational experience of these students by directly funding affiliated programs.</p>
        </div>
        <div class="large-6 columns">
          <%= link_to image_tag('Yearbook Photo.jpg')%>
        </div>
      </div>

    </article>

    <hr />

    <article>

      <h3>Leadership Team</h3>

      <div class="row">
        <div class="large-12 columns">
          <h5>Board of Directors</h5>
            <a href="#" class="button small"data-dropdown="bod1">Dr. Deb Grzybowski</a>
            <ul id="bod1" class="f-dropdown content" data-dropdown-content>
              <p>Bio coming soon!</p>
            </ul>

            <a href="#" class="button small" data-dropdown="bod2">Ray Tan</a>
            <ul id="bod2" class="f-dropdown content" data-dropdown-content>
              <p>Bio coming soon!</p>
            </ul>
            <a href="#" class="button small" data-dropdown="bod3">David Wu</a>
            <ul id="bod3" class="f-dropdown content" data-dropdown-content>
              <p>Bio coming soon!</p>
            </ul>
            <a href="#" class="button small" data-dropdown="bod4">Stephen Cassidy</a>
            <ul id="bod4" class="f-dropdown content" data-dropdown-content>
              <p>Bio coming soon!</p>
            </ul>
          
          <h5>Executive Team</h5>
          <div class="tree">
           <ul>
            <li><a href="#" class="button small" data-dropdown="president">President: Brett Hutton</a>
            <ul id="president" class="f-dropdown content" data-dropdown-content>
              <p>Bio coming soon!</p>
            </ul>
              <ul>
              <li>
                <a href="#" class="button small" data-dropdown="executivevicepresident">Executive Vice President: </br>Brandon Merriman</a>
                  <ul id="executivevicepresident" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                <ul>
                <li>
                  <a href="#" class="button tiny" data-dropdown="coporateliason">Corporate Liason: </br>Jacob Kipi and Jon Leung</a>
                  <ul id="coporateliason" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                    <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="brandrepresentation">Brand Representation</br>Corporate Sponsorships</a>
                    <ul id="brandrepresentation" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                    </ul>
                </li>
                 <li>
                  <a href="#" class="button tiny" data-dropdown="eventprogramming">Event Programming: </br>Sam Posa and Derek Spinell</a>
                  <ul id="eventprogramming" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                    <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="events">Call of Duty</br>DOTA 2</br>Halo 4</br>League of Legends</br>Starcraft 2</br>Fight Games</a>
                    <ul id="events" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                    </ul>
                </li>
                <li>
                  <a href="#" class="button tiny" data-dropdown="marketing">Marketing: </br>Tom Wilson</a>
                  <ul id="marketing" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                  <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="oncampus">On-Campus</br>Social Media</a>
                    <ul id="oncampus" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                  </ul>
                </li>
                
                <li>
                  <a href="#" class="button tiny" data-dropdown="charity">Charity: </br>Dennis Lam</a>
                  <ul id="charity" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                  <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="steamoutreach">E-Council</br>STEM Outreach</br>Volunteering</a>
                    <ul id="steamoutreach" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="button tiny" data-dropdown="it">IT: </br>Jeff Kikel</a>
                  <ul id="it" class="f-dropdown content" data-dropdown-content style="position:absolute;">
                    <p>Hello, I am a 3rd year CSE major here at OSU. I joined ESI after playing in multiple League of Legends tournaments and hearing about how active they are in the community. </p>
                  </ul>
                  <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="website">Website</br>Graphics/Media</a>
                    <ul id="website" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="button tiny" data-dropdown="finances">Finances: </br>Deshannon Davon Gilbert</a>
                  <ul id="finances" class="f-dropdown content" data-dropdown-content>
                    <p>Bio coming soon</p>
                  </ul>
                  <ul>
                    <li>
                    <a href="#" class="button tiny" data-dropdown="auditing">Auditing</br>IRS</a>
                    <ul id="auditing" class="f-dropdown content" data-dropdown-content>
                      <p>More info coming soon</p>
                    </ul>
                    </li>
                  </ul>
                </li>

                </ul>
              </li>
              </ul>
            </li>
           </ul> 
          </div>
    </article>
  </div>
</div>


</body>