<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-12 columns" role="content">

    <article>

      <h3>Our Mission</h3>


      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative is a nonprofit organization that partners with companies in the digital media and e-sports industries as an entry-level talent agency specializing in employees with backgrounds in the STEM (Science, Technology, Engineering, and Math) disciplines. We equip entry-level talent with the skills, insight, and experiences that will help them launch their careers in the rapidly-maturing interactive media and video game development space, while connecting companies in the industry to this talent pool.</p>
          <p>As of fall 2013, E-Sports Initiative is focused on addressing the specific subset of STEM education that relates to the video game industry- computer science and engineering, data analytics, mathematics, and technical design and graphics. We aim to provide certification programs, unique insight into the industry, and networking and leadership development opportunities to future employees in the industry on a national scale through our network.</p>
        </div>
        <div class="large-6 columns">
          <%= link_to image_tag('Yearbook Photo.jpg')%>
        </div>
      </div>
        
    </article>

    <hr />

    <article>

      <h3>Leadership Team</h3>
       
      <div class="row">
        <div class="large-12 columns">
          <h5>Board of Directors</h5>
            <p>Dr. Deb Grzybowski</p>
-           <p>Ray Tan</p>
-           <p>David Wu</p>
-           <p>Stephen Cassidy</p>
        <h5>Executive Team</h5>          
-            <p><b>President</b>: Brett Hutton</p>
-            <p><b>Executive Vice President</b>: Brandon Merriman</p>
-            <p><b>External Vice President</b>: Jacob Kipi</p>
-            <p><b>Treasurer</b>: Deshannon Davon Gilbert</p>
-            <p><b>Event Programming Chairs</b>: Sam Posa and Derek Spinell</p>
-            <p><b>Community Outreach Chair</b>: Alex Chen</p>
-            <p><b>Marketing Chair</b>: Tom Wilson</p>
-            <p><b>Recruitment Chair</b>: Reasey Hem</p>
-            <p><b>Webmaster</b>: Jeff Kikel</p>
    </article>
  </div>
</div>


</body>