<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
	<div class="row">

		<!-- Contact Details -->
		<div class="large-9 columns">

			<h3>Get in Touch!</h3>
			<p>We'd love to hear from you. Feel free to email us at <a href = "mailto:esportsinitiative@gmail.com">esportsinitiative@gmail.com</a></p>

		</div>
	</div>
</body>