<!DOCTYPE html>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <hr />
    <article>

      <h3>ESI Autumn 2013 Starcraft 2 Tournament</h3>

      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative will be hosting a StarCraft 2: Heart of the Swarm Tournament on Saturday, September 14th, at the Ohio Union inside the Cartoon Room.</p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>An online registration will be available soon and will run until Friday, Septemeber 13th at 6pm EST for $12. After this time you must show up in person between 9am and 11am on September 14th in the Cartoon Room and the fee will be $15. Spectators will be allowed in for a fee of $5.</p>

    </article>

    <hr />

    <article>

      <h3>ESI Spring 2013 Starcraft 2 Tournament</h3>

      <div class="row">
        <div class="large-6 columns">
          <p>On March 30th, 2013, E-Sports Initiative hosted its
            first StarCraft 2 tournament with about 50 participating
            players along with another 50 spectators who came to
            support ESI and StarCraft 2.  Sponsors such as Razer,
            Major League Gaming (MLG), and iBuyPower also
            believed in our ability to create a high profile event
            and provided prizes which included a keyboard, headset,
            mouse, and a very high quality personal computer.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Due to the success of this tournament, E-Sports Initiative
        will definitely hold another StarCraft 2 Tournament during
        the Autumn Semester of 2013. </p>

    </article>

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Charity", charity_path%></li>
      <li><%= link_to "Events", events_path%></li>
    </ul>


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->