<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Contact Details -->
  <div class="large-9 columns">

    <h3>Fall Semester Meeting Schedule</h3>

    <p>
    <table border ="1" cellpadding = "10">
      <tr><td>8/29/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>9/5/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>9/12/2013 Thursday</td><td>7:00 PM-9:30 PM</td><td>Sphinx Centennial Leadership Suite</td></tr>
      <tr><td>9/19/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>9/26/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>10/3/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>10/10/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Sphinx Centennial Leadership Suite</td></tr>
      <tr><td>10/17/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>10/24/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>10/31/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>11/7/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>11/14/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
      <tr><td>11/21/2013 Thursday</td><td>7:30 PM-10:00 PM</td><td>Senate Chamber</td></tr>
     </table>
    </p>
  </div>
</body>