<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Service that ESI Regularly Participates In</h3>


      <hr />
      <article>

        <h4>Tutoring at Gladden Community House</h4>
        <h6>Mondays during the School Year</h6>
        <div class="row">
          <div class="large-8 columns">
            <p>The Gladden Community House is a beacon of light for the youth of Franklinton and its surrounding neighborhoods. Gladden offers many services for its kids, from summer day camp to after school recreation. E-Sports Initiative reaches out to the Franklinton community, whose graduation rate is less than 50%, by tutoring at the Homework Help Center. Each day, after school, groups of kids will come to the HHC for help with their homework or even just to spend some time with the tutors. ESI members will play board games, read books and practice flash cards with the kids. We also try to encourage students to pursue a college degree by talking about our own college lives. Most of the kids in the community have rough family lives and lack a good adult role model. Throughout the year, we develop a strong relationship with our students and help them to grow. ESI hopes to positively impact these young minds and aid them in making the best of their futures. If you are interested in getting involved at the Gladden Community House, contact Dennis Lam at <a href="mailto:lam.145@osu.edu">lam.145@osu.edu</a> or Whitney Vosler at <a href="mailto:whitneyvosler.gch@gmail.com">whitneyvosler.gch@gmail.com</a>.</p>
          </div>
          <div class="large-4 columns">
            <%=image_tag('gladden community hosue.jpg')%>
          </div>
        </div>

      </article>

      <hr />

    </article>
</body>