<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Press Release</h3>

       <hr />
      <h4>Press Highlights</h4>
      <h6><a href = "http://www.thelantern.com/campus/ohio-state-group-plays-video-games-to-raise-money-for-charity-1.2926928#.UfP2vo2sh8E">Ohio State Group plays video games to raise money for charity</a></h6>
      <p>Source: The Lantern</p>
      <h6><a href = "http://na.leagueoflegends.com/board/showthread.php?t=3621759">Riot Collegiate Program - OSU</a></h6>
      <p>Source: Riot Games</p>
     <p> </p>
      <hr />
      <h4>Featured Elsewhere</h4>
       <h6><a href ="http://engineering.osu.edu/studentorgs/e-sports-initiative">The Ohio State University</a></h6>
      <h6><a href = "http://www.nationwidechildrens.org/business-organization-foundation-benefactors">Nationwide Children's Hospital</a></h6>
      <h6><a href="http://competitive.na.leagueoflegends.com/college/ohio-state-university-main-campus">Riot Games Collegiate Program</a></h6>

   </div>

    </article>
</body>