<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-10 columns" role="content">

   <article>

      <h3>Starcraft 2 Heart of the Swarm Tournament Rules</h3>


      <div class="row">
        <div class="large-8 columns">

          <h4>Registration</h4>
          <p><ol>
            <li>Online registration will be available to any player for a fee of $12 until Friday, September 13th, at 6pm EST.</li>
            <li>In-Person registration will take place on Saturday, September 14th, from 9am to 11:00am and will be $15.</li>
            <li><b>IMPORTANT NOTE:</b> 11:00am is a hard deadline and we will not be adding anyone else to the tournament after this time so please register early.  We plan on starting the tournament at 12pm EST and cannot be continuously adding players into the tournament 5 minutes prior to the start time.</li>
          </ol></p>
          <p>You can register here:</p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="E3BNC284BHDF6">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="large-4 columns">
        <%=image_tag('SC2Tourney.jpg')%>
        </div>

        <div class = "large-12 columns"> 
          <hr/>

          <h4>What to Bring</h4>
          <p><ol>
            <li>This event is a BYOC  (Bring your own computer) event which includes your entire personal setup.  We may have a few setups for people who are unable to bring their own computer but do not rely on E-Sports Initiative to have a setup for you.  Some aspects of BYOC include:</li>
            <ul>
              <li>Ethernet cords</li>
              <li>Power strips</li>
              <li>Your computer and peripherals</li>
            </ul>
          </ol></p>
        </div>
        <hr/>

        <h4>Tournament Officials</h4>
          <p><ol>
           <li>Teams should contact a tournament official in-game if they encounter any problems setting up or playing a match.</li>
           <li>If you have an issue during the tournament, please ask for an E-Sports Initiative administrator: Raymond Tan, Brett Hutton, Jacob Kipi</li>
            <li>If a tournament official is called into a custom game lobby, players must read and comply with all instructions.</li>
          </ol</p>
        <hr/>

        <h4>Tournament Preparation</h4>
          <p>In order to participate and receive updates during the tournament, you must join the group named “esportsinitiative”</p>
        <hr/>

        <h4>Bracket Format and Match Format and Seeding</h4>
        <p><ol>
          <li>This event will support 3 double-elimination brackets.
            <ul>
              <li>The first bracket will consist of bronze and silver players.</li>
              <li>The second bracket will consist of gold and platinum players.</li>
              <li>The third bracket will consist of diamond, master, and grandmaster players.</li>
            </ul>
          </li>
          <li>Each bracket will have a winners and losers bracket.  After losing a match in the winner's bracket, you will then be placed in the loser's bracket.  After losing a match in the loser’s bracket, you will then be eliminated from the tournament.</li>
          <li>All matches will be a best of 3.  There will be no extended series.</li>
          <li>Seeding will be completely randomized as we will not have the complete player list until the day of the tournament itself.</li>
        </ol></p>
        <hr/>

        <h4>General Rules</h4>
        <p><ol>
          <li>Players have a 15 minute grace period, after their match’s scheduled start time, in which they must contact their opponent or a tournament official.  Players who fail to contact their opponent or a tournament official, during the grace period, may forfeit their match.</li>
          <li>Players may delay a match between games for up to five minutes.  Players can request that a tournament official enforce this five minute time limit.  After five minutes of a tournament official enforced delay, if the delaying player is not present, they will forfeit the match.</li>
          <li>Players may not verbally abuse a tournament official in-game or offline.</li>
          <li>Players who break General Rules #1-3 may be disqualified.</li>
          <li>Any sign of cheating may result in a forfeit of a game(s) and/or disqualification. </li>
          <li>Players who are disqualified prior to the start of a game will not be allowed to play in the game.  Players who are disqualified during a game must quit out of the game.  Players who are disqualified won’t receive any benefits.  Such players may also be subject to a temporary ban from and future E-Sports Initiative events.</li>
          <li>Custom game creators who start a game with the wrong settings may forfeit the game, determined by a tournament official.  Players who quit out of a game and claim that the wrong settings were used will forfeit the game if they are unable to provide proof to back up their claim. </li>
          <li>In order to dispute game results, players must notify a tournament official that they would like to protest the game before a new game has begun.  In order to dispute match results, players must notify a tournament official that they would like to protest the match no longer than 15 minutes after the end of the match. </li>
          <li>All replays must be saved and provided in the case that there is a dispute on who won or who lost.  If no replays can be provided, the match will have to be played again unless time restricts this from happening in which case, both players would be given a loss for the round.</li>
        </ol></p>
        <hr/>

        <h4>Gameplay Rules</h4>
        <p><ol>
          <li>All games must be played on the NA server</li>
          <li>The exact version of maps must be used for all games</li>
          <li>If a game ends in a tie, it must be replayed</li>
          <li>Only tournament officials may connect to a game as a spectator or referee.</li>
          <li>If a player loses their connection to the host during the first minute of the game, and the in-game timer reaches zero, the game must be restarted.  If a player loses connection after the first minute, then the resume-from-replay feature must be used.</li>
          <li>If an observer loses their connection to the game, but both players remain in the game, the game must continue.</li>
        </ol></p>

        <hr/>
        <h4>Map Pool</h4>
        <p>Akilon Wastes, Bel’Shir Vestige LE, Derelict Watcher TE, Neo Planet S LE, Newkirk Precinct TE, Korhal Sky Island LE, Red City LE, Star Station, Whirlwind LE</p>
        <hr/>

        <h4>Map Selection</h4>
        <ol>
          <li>All map choices and vetoes must be made prior to the start of the match.</li>
          <li>Starting with the higher seeded player, each player will veto a map of their choosing until there are only three maps remaining.  At this point, these three maps are the only ones available to play on for the current match with the higher seeded player choosing the map to be used for game 1.  The loser will then choose the map for game 2 and if necessary, the last remaining map will be used for game 3.</li>
          <li>No map may be played more than once in a match.</li>
        </ol>
        <hr/>

        <h4>Reporting match results</h4>
        <ol>After a match is completed, one of the players must go to the administrator managing the brackets and report the results of the match.</ol>
        <ol>If there is a conflict of results with no proof to back up either players’ statements, then the match must be replayed if time permits.  If there is no time for said replay, then both players will be disqualified as that is the only fair course of action</ol>
   </article>
 </div>
 </div>
</div>
</body>