<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-10 columns" role="content">

   <article>

      <h3>Live twitch stream</h3>

      <div class="row">
        <div class="large-8 columns">

          <p>All of our members work hard in honing their League of Legends skills to be very competative. Here is a live stream that will demonstrate their rise through the ranks. </p>
        </div>


      <div class="row">
        <div class-"row">
        <div class="large-12 columns">
            <object type="application/x-shockwave-flash" 
        style="width:620px; height:378px"       
        id="live_embed_player_flash" 
        data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=tsm_dyrus" 
        bgcolor="#000000">
  <param  name="allowFullScreen" 
          value="true" />
  <param  name="allowScriptAccess" 
          value="always" />
  <param  name="allowNetworking" 
          value="all" />
  <param  name="movie" 
          value="http://www.twitch.tv/widgets/live_embed_player.swf" />
  <param  name="flashvars" 
          value="hostname=www.twitch.tv&channel=tsm_dyrus&auto_play=true&start_volume=25" />
            </object>  
        </div>
      </div>
   </article>
 </div>
 </div>
</div>
</body>