<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Contact Details -->
  <div class="large-9 columns">

    <h3>Want to Volunteer with ESI?</h3>
    <p>Interested in volunteering for an event? Whether you are interested in helping out with our fundraising events or joining us at our community service events, we would love to get in touch and discuss how you can make a difference. Please send us an email at <a href="mailto:esportsinitiative@gmail.com">esportsinitiative@gmail.com</a> and we will respond as soon as possible.</p>

    <p>A more fixed schedule will be coming soon!</p>
  </div>
</body>